@page "/EventAdministration/{eventId}"
@page "/EventAdministration"

@using Blazored.SessionStorage
@using Prototype.Models
@using Prototype.Models.Rights
@using Blazored.SessionStorage
@inject NavigationManager Navigation
@inject ISessionStorageService SessionStorage



<link href="css/EventAdministration.css" rel="stylesheet" />

<PageTitle>Eventbearbeitung</PageTitle>

<!--Überschrift-->
<div>
	<h3><InputTextArea @bind-Value="@currentEvent.Name" class="form-control" /></h3>
</div>

<!--Alle wichtigen Informationen über das Event sind jetzt bearbeitbar-->
<div>
    <div>
        <p>Informationen über das Event: </p>
        <InputTextArea @bind-Value="currentEvent.Description" class="form-control" />
    </div>

    <div>
        <p>Datum des Events: </p>
        <InputDate id="birthday" @bind-Value="currentEvent.Date" class="form-control" />
    </div>

    <div>
        <p>Uhrzeit: </p>
        <input type="time" @bind="currentEvent.Time" class="form-control" />
    </div>

    <div>
        <p>Ort der Veranstaltung: </p>
        <InputText @bind-Value="@currentEvent.Location" class="form-control" />
    </div>
</div>

<!--TODO: Liste aller Personen, die am Event teilnehmen-->

<!--Liste aller Prozesse die bei dem Event ablaufen-->
<div>
	<div>
		<h3>Eventprozesse</h3>
	</div>
    <!--Die Tabelle mit den Prozessen???-->
    <div>
        <table>
            <thead>
                <tr>
                    <th>Ausführen</th>
                    <th>Prozessname</th>
                    <th>Beschreibung</th>
                    <th>Platzhalter</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var TestProcess in processList)
                {
                    <tr>
                        <td><button @onclick="() => ExecuteProcess(TestProcess)">Ausführen</button></td>
                        <td>@TestProcess.name</td>
                        <td>@TestProcess.tasks</td>
                        <InputText @bind-Value="TestProcess.placeholder" class="form-control" />
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <!--Die Buttons zum anpassen von Prozessen des Events-->
	<div>
		<button @onclick="AddProcessStep">Prozessschritt hinzufügen</button> <!--was machen wir hier noch genau alles-->
		<button @onclick="SaveEventChanges">Änderungen speichern</button>
		<button @onclick="DiscardEventChanges">Änderungen verwerfen</button>
	</div>
	<!--Link zur Prozesssuite-->
	<div>
		<NavLink href="/processSuite">
			Neuen Prozess hinzufügen
		</NavLink>
	</div>
</div>



@code {
    private bool isLoggedIn;
    private Person currentUser;
    private string rightsType;
    private Rights authority = new Member();


    // Überprüfung, ob der Nutzer angemeldet ist
    // Zuweisung der angemeldeten Person mit all ihren Rechten
    protected override async Task OnInitializedAsync()
    {
        isLoggedIn = await SessionStorage.GetItemAsync<bool>("isLoggedIn");
        if (!isLoggedIn)
        {
            Navigation.NavigateTo("/Login");
            return;
        }
        currentUser = await SessionStorage.GetItemAsync<Person>("user");
        rightsType = await SessionStorage.GetItemAsStringAsync("rightsType");
        if (rightsType == "Member")
        {
            authority = await SessionStorage.GetItemAsync<Member>("rights"); 
        }
        else if (rightsType == "Organizer")
        {
            authority = await SessionStorage.GetItemAsync<Organizer>("rights");
        }

        // Erstellen eines neuen Events
        // sonst das Event kopieren falls die Changes zurückgenommen werden
        if (eventId == null)
        {
            isNewEvent = true;
            currentEvent = new Event("NewEvent", currentUser);
        }
        else
        {
            isNewEvent = false;
            currentEvent = Application.Instance.GetEvent(int.Parse(eventId));
            currentEvent = currentEvent.ShallowCopy();
        }
    }


    // Aktuelles Event
    [Parameter]
    public string? eventId{ get; set;}
    private Event currentEvent = new Event("", new Person("", ""));
    private bool isNewEvent;


    // Wenn der Nutzer die Änderungen speichern will
    // Ist das Event neu, wird es in die Datenbank aufgenommen
    // Ist das Event vorhanden, wird es gelöscht und die Kopie aufgenommen
    private void SaveEventChanges()
    {
        Organization currentOrg = Application.Instance.GetOrganization(currentUser.OrganizationId);
        if (isNewEvent)
        {
            Application.Instance.AddEvent(currentEvent);
            currentOrg.Events.Add(currentEvent);
            eventId = $"{currentEvent.Id}";
        }
        else
        {
            Event oldEvent = Application.Instance.GetEvent(int.Parse(eventId));
            Application.Instance.RemoveEvent(oldEvent);
            currentOrg.Events.Remove(oldEvent);

            Application.Instance.AddEvent(currentEvent);
            currentOrg.Events.Add(currentEvent);
        }
	    Navigation.NavigateTo($"Event/{eventId}");
    }


    // Wenn der Nutzer seine Änderungen verwerfen will
    // Ist das Event neu, wird man einfach nach Home weitergeleitet
    // Gab es das Event schon, wird einfach die zu bearbeitende Kopie weggeworfen
    private void DiscardEventChanges()
    {
	    if (isNewEvent)
	    {
		    Navigation.NavigateTo($"/");
	    }
	    else
	    {
            Event oldEvent = Application.Instance.GetEvent(int.Parse(eventId));
            Navigation.NavigateTo($"Event/{eventId}");
	    }
    }


    private void AddProcessStep()
    {
        // TODO: Prozesse hinzufügen und entfernen
    }


    // Dummis für die Prozesse
    // TODO: Echte Prozessklassen anlegen
    public class TestProcess
    {
        public string? name;
        public string? tasks;
        public bool isDone;
        public string? placeholder;
    }

    private List<TestProcess> processList = new()
    {
        new TestProcess { name = "Einladungen vorbereiten", tasks = "Automatischer Versandt von E-Mail Einladungen", isDone = true},
        new TestProcess { name = "Anmeldeschluss", tasks = "Aktiviert den Anmeldeschluss zu einem Zeitpunkt (Kann früher ausgelöst werden)", isDone = false},
        new TestProcess { name = "Dankessagung", tasks = "versenden von Dankes-e-Mails", isDone = false}
    };

    public void ExecuteProcess(TestProcess process)
    {
        //ausführng des Prozesses
    }
}
