@page "/EventAdministration/{name}"

@inject NavigationManager Navigation

<PageTitle>Eventbearbeitung</PageTitle>

<div class="d-flex w-100">
    <div class="w-25">
        <h3><InputTextArea @bind-Value="@name" class="form-control" /></h3>
    </div>
    <div class="w-25 justify-content-center">
        <button disabled>Anmelden</button>
    </div>
</div>


<div class="d-flex">
    <div class="p-2">
        <p class="fw-bold">Datum des Events: </p>
    </div>
    <div class="p-2">
        <InputDate id="birthday" @bind-Value="eventDate" class="form-control" />
    </div>
    <div class="p-2">
        <p class="fw-bold">Uhrzeit: </p>
    </div>
    <div class="p-2">
        <input type="time" @bind="eventTime" class="form-control" />
    </div>
    <div class="p-2">
        <p class="fw-bold">Ort der Veranstaltung: </p>
    </div>
    <div class="p-2">
        <InputText @bind-Value="@location" class="form-control" readonly />
    </div>
</div>

<h4>Informationen über das Event:</h4>
<InputTextArea @bind-Value="eventInfos" class="form-control" />

<div class="popup-overlay">
    <div class="popup-box">
        <button @onclick="SaveEventChanges">Änderungen speichern</button>
    </div>
    <div class="popup-box">
        <button @onclick="DiscardEventChanges">Änderungen verwerfen</button>
    </div>
</div>

@code {
    [Parameter]
    public string? name { get; set; } //Name des Events
    public string? eventInfos; //Infos über das Event
    public DateTime eventDate;
    public DateTime eventTime;
    public string? location = "Immernoch da wo du nicht bist"; // alles eig von Person, aber copy nehmen dass die bearbeiten werden könne -> in methode speichern

    private void SaveEventChanges()
    {
        // hier aktualisieren der ganzen Variablen des Events
        Navigation.NavigateTo($"Event/{name}"); //zurück zum Event
    }

    private void DiscardEventChanges()
    {
        // hier aktualisieren der ganzen Variablen des Events
        Navigation.NavigateTo($"Event/{name}"); //zurück zum Event
    }
}
